$font-family: Arial, Helvetica, sans-serif;
$primary-color: #153fe5;
$hover-color: #0068e6;
$sidebar-border-color: #ddd;
$selected-background: #eee;
$timestamp-color: #ccc6c6;
$modal-background: #aaa;
$modal-border: #ccc;
$close-button-color: #0068e6;
$action-item-border-color: #0068e6;
$action-item-bg-color: #4caf50;
$action-item-delete-bg-color: #c01a00;
$action-item-delete-border-color: #c01a00;
$content-padding: 2em 3em;